{
	servers {
		protocol {
			allow_h2c
			experimental_http3
#			strict_sni_host
		}
	}
	email mx365cent@gmail.com # email for Automagic TLS
	# acme_ca https://acme.zerossl.com/v2/DV90
	# cert_issuer zerossl {{ Place your api token here }}
	order filter after encode
}
(static) {
	@static {
		file
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.json
	}
	header @static Cache-Control max-age=5184000
}

(security) {
	header {
		# disable FLoC tracking
		Permissions-Policy interest-cohort=()
		# enable HSTS
		Strict-Transport-Security max-age=31536000;
		# disable clients from sniffing the media type
		X-Content-Type-Options nosniff
		# keep referrer data off of HTTP connections
		Referrer-Policy no-referrer-when-downgrade
	}
}

(error) {
	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}"
	}
}

(http.cat) {
	handle_errors {
		rewrite * /{http.error.status_code}
		reverse_proxy https://http.cat {
			header_up Host http.cat
			header_down -Server
		}
	}
}

import conf.d/*.conf
